div.all_results_bc{
    position: absolute;

    grid-auto-flow: row;

    left: 250px;
    right: 250x;
    top: 150px;

    padding: 10px;
    
    text-align: center;

    display: grid;
    grid-template-columns:700px 700px;
    grid-template-rows:150px 150px 150px 150px;
    grid-auto-flow: column;

    background-color: white;

}

div.single_result_bc{
    display: grid;
    grid-template-columns: 85px 85px 300px 200px;
    grid-template-rows: 20px 20px 20px 40px 20px 20px;

}

.album_art{
    width: 170px;
    height: 130px;

    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 6;
}

.album_art img{
    width: 100%;
    height: 100%;
}

.artist_name{
    text-align: center;

    font-family: 'Barlow', sans-serif;
    letter-spacing: 0.30em;
    text-transform: lowercase;

    color: black;
    
    font-size: 17px;

    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.album_title{
    text-align: left;
    font-family: 'Barlow', sans-serif;
    text-transform: lowercase;

    padding-left: 5px;
    padding-right: 5px;

    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;       
}

.item_description{
    text-align: left;
    font-family: 'Barlow', sans-serif;
    text-transform: lowercase;

    padding-left: 5px;
    padding-right: 5px;

    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;      
}

.url{
    text-align: left;
    font-family: 'Barlow', sans-serif;
    text-transform: lowercase;

    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;  
}

.count{
    text-align: center;
    font-family: 'Barlow', sans-serif;
    text-transform: lowercase;

    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;  
}

#changeGreen{
    -webkit-animation: greenFlash 5s;
    }
    
    @keyframes greenFlash{
        0% {color: green;}
        100% {color: black;}
    }

#changeRank{
    -webkit-animation: blurTransition 5s;    
}

    @keyframes blurTransition{
        0% {filter: blur(0); color:black;}
        10% {filter: blur(.25rem); color:white;}
        100% {filter: blur(0); color: black;}
    }