div.upcoming_list{
    position: absolute;

    right: 80px;
    top: 700px;

    text-align: left;

    display: grid;
    grid-template-columns:160px;
    grid-template-rows:35px 35px 35px 35px;
    grid-row-gap: 5px; 
    grid-auto-flow: row;
}

.list_entry{
    background-color: #8fbdff;
    padding: 5px;
    border-style: solid;
}

.list_entry.one{
    opacity: 1;
    font-weight: bold;
}

.list_entry.two{
    opacity: .75;
}

.list_entry.three{
    opacity: .5;
}

.list_entry.four{
    opacity: .25;
}

.headline{
    position: absolute;

    color: white;
    font-family: 'Barlow', sans-serif;
    letter-spacing: 0.30em;
    font-size: 60px;

    left: 40%;
    width: 1100px;
    margin-left: -425px;   
}

.bigger{
    font-size: 80px;
}