div.all_results_sneakers{
    position: absolute;

    left: 25px;
    right: 125px;
    top: 150px;

    padding-right: 50px;
    padding-left: 50px;

    text-align: center;

    display: grid;
    grid-template-columns:450px 450px 450px 450px;
    grid-template-rows:250px 250px 250px;
    grid-auto-flow: row;

}

div.single_result_sneakers{
    display: grid;
    grid-template-rows: 125px 60px 20px;
    grid-template-columns: 400px;

    font-family: 'Barlow', sans-serif;
    letter-spacing: 0.05em;
    text-transform: lowercase;

    color: black;
    
}

.thumbnail{
    width: 250px;
    height: 125px;

    margin-left: auto;
    margin-right: auto;

    grid-row-start: 1;
    grid-row-end: 2;
}

.thumbnail img{
    width: 100%;
    height: 100%;
}

.title{
    text-align: center;
    width: 400px;
    font-size: 25px;

    margin-left: auto;
    margin-right: auto;

    grid-column: auto;
    grid-row-start: 2;
    grid-row-end: 3;       
}

.date{
    text-align: center;
    font-size: 35px;
    font-family: 'Barlow', sans-serif;

    color: #fd1e72;

    font-weight: bold;
    
    padding-left: 5px;
    padding-right: 5px;

    grid-column: auto;
    grid-row-start: 3;
    grid-row-end: 4;       
}

.date span{
    color: black;
    font-family: 'Barlow', sans-serif;

    font-weight: bold;
}