div.all_results_sneakers{
    position: absolute;

    left: 250px;
    right: 125px;
    top: 120px;

    padding-right: 50px;
    padding-left: 50px;

    text-align: center;

    display: grid;
    grid-template-columns:300px 300px 300px 300px;
    grid-template-rows:200px 200px 200px 200px;
    grid-auto-flow: row;

}

div.single_result_sneakers{
    display: grid;
    grid-template-rows: 100px 40px 20px;
    grid-template-columns: 400px;
    
}

.thumbnail{
    width: 200px;
    height: 100px;

    margin-left: auto;
    margin-right: auto;

    grid-row-start: 1;
    grid-row-end: 2;
}

.thumbnail img{
    width: 100%;
    height: 100%;
}

.title{
    text-align: center;
    width: 200px;

    margin-left: auto;
    margin-right: auto;

    grid-column: auto;
    grid-row-start: 2;
    grid-row-end: 3;       
}

.date{
    text-align: center;

    color: rgb(187, 108, 108);
    font-weight: bold;
    
    padding-left: 5px;
    padding-right: 5px;

    grid-column: auto;
    grid-row-start: 3;
    grid-row-end: 4;       
}

.date span{
    color: rgb(139, 139, 139);
    font-weight: bold;
}